@charset "UTF-8";

		@font-face {
		/* 한글 영문 폰트 같이 넣음 */
			font-family: 'SUITE-Regular', 'Viaoda Libre';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
			font-weight: 400;
			font-style: normal;
		}
		
		*{
			font-family: 'SUITE-Regular', 'Viaoda Libre';
		}

		.card-text{
			font-family: 'SUITE-Regular' !important;
		}

		.list_btn{
			text-align: right;
		}

      	@media screen and (max-width: 1400px){
			/* *{background: pink;} */
			
			.list_relay{
                display: none;
			}
			
			.list_btn01{
				width: 100% !important;
				margin-top: -35px !important;
				margin-bottom: 53px !important;
				text-align: center;
			}
			
			.list_btn02{
				width: 210px !important;
				height: 50px !important;
			}
			
			.list_btn03{
				margin-left: none !important;
			}
			
			.list_table01{
				display: none;
			}

			.list_table02{
				display: block !important;
			}
		}
		
		.list_table02{
			display: none;
		}
