@charset "UTF-8";

		@font-face {
		/* 한글 영문 폰트 같이 넣음 */
			font-family: 'SUITE-Regular', 'Viaoda Libre';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
			font-weight: 400;
			font-style: normal;
		}
		
		*{
			font-family: 'SUITE-Regular', 'Viaoda Libre';
		}

		
		/* input, textarea */
		input:focus {outline: none;} 
		textarea:focus {outline: none;}
		
		button:hover {
			background: #EEEAE2 !important;
		}

		.view_writer01:focus{
			border-bottom: 2.8px solid #994D22 !important;
		}
		.view_writer01{
			background: transparent;
			top: 300px;
			border-bottom: 2.5px solid #A98B67 !important;
			border:none;
		}
		
		.view_input02:focus{
			border-bottom: 2.8px solid #994D22 !important;
		}
		.view_input02{
			background: transparent;
			border-bottom: 2.5px solid #A98B67 !important;
			border:none;
			/*margin-bottom: 10px;*/
		}
		
		textarea:focus {
			outline: none;
			border: 2.8px solid #994D22;
		}
		.view_input03{
			background: transparent;
			border: 2.5px solid #A98B67;
			width: 800px;
			height: 200px;
		}
		/* input, textarea */

		.relay_content{
			font-size: 14pt;
		}

      	@media screen and (max-width: 1400px){
			/* *{background: pink;} */
			
			.view_content{
				width: 970px !important;
			}

			.view_input01{
				top: 263px !important;
			}

			.view_input02{
				width: 500px !important;
				height: 60px !important;
			}

			.view_input03{
				width: 700px !important;
				height: 125px !important;
			}

        }