@charset "UTF-8";

		@font-face {
		/* 한글 영문 폰트 같이 넣음 */
			font-family: 'SUITE-Regular';
			src: url('../common/font/SUITE-Regular.otf') format('woff2');
			font-weight: 400;
			font-style: normal;
		}

		@font-face {
		/* 한글 영문 폰트 같이 넣음 */
			font-family: 'ViaodaLibre-Regular';
			src: url('../common/font/ViaodaLibre-Regular.otf') format('woff2');
			font-weight: 400;
			font-style: normal;
		}
		
		body{
			font-family: 'SUITE-Regular' !important;
		}

		
		/* input, textarea */
		input:focus {outline: none;} 
		textarea:focus {outline: none;}
		
		button:hover {
			background: #EEEAE2 !important;
		}

		.view_writer01:focus{
			border-bottom: 2.8px solid #994D22 !important;
		}
		.view_writer01{
			background: transparent;
			top: 300px;
			border-bottom: 2.5px solid #A98B67 !important;
			border:none;
		}
		
		.view_input02:focus{
			border-bottom: 2.8px solid #994D22 !important;
		}
		.view_input02{
			background: transparent;
			border-bottom: 2.5px solid #A98B67 !important;
			width: 600px;
			border:none;
			/*margin-bottom: 10px;*/
		}
		
		textarea:focus {
			outline: none;
			border: 2.8px solid #994D22;
		}
		.view_input03{
			background: transparent;
			border: 2.5px solid #A98B67;
			width: 800px;
			height: 200px;
		}
		/* input, textarea */

		.relay_content{
			font-size: 14pt;
		}

		.comment-write-title{
			float: left;
		}
		
		.comment-input {
			width: 820px;
			background: transparent;
			top: 300px;
			border-bottom: 2.5px solid #A98B67 !important;
			border:none;
			margin-top: 8px;
		}

		.comment-input:focus {
			border-bottom: 2.8px solid #994D22 !important;
		}
		
		.comment-write{
			text-align: center;
			width: 820px;
			height: 400px;
			margin: 0 auto;
			margin-top: 65px;
		}

		.comment-write-btn{
			margin: 5px;
			width: 90px;
			height: 38px;
			border: 1px solid #A98B67;
			color: #A98B67;
			background: transparent; 
			border-radius: 3px;
			margin-top: 15px;
			float: right;
		}

      	@media screen and (max-width: 1400px){
			/* *{background: pink;} */
			
			.view_content{
				width: 970px !important;
			}

			.view_input01{
				top: 410px !important;
			}

			.view_input02{
				width: 500px !important;
				height: 60px !important;
			}

			.view_input03{
				width: 700px !important;
				height: 125px !important;
			}

			.comment-input{
				width: 650px;
			}
			
			.comment-write{
				width: 650px;
			}

        }