@charset "utf-8";

@font-face {
    font-family: korFont;
    src: url("../../common/font/SUITE-Regular.otf")format('opentype');
}

@font-face {
    font-family: engFont;
    src: url("../../common/font/ViaodaLibre-Regular.otf")format('opentype');
}

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

body {
    background-color: #FFFBF2 !important;
}

.container {
    width: 100% !important;
}

.wrapAll {
    width: 98%;
}

.header {
    margin-top: 20px;
}

.header img {
    width: 125px;
}

.wrapBody {
    width: 600px;
    margin-top: 65px;
    margin-bottom: 290px;
    text-align: center;
    font-family: korFont;
}

.bodyTop {
    margin-bottom: 40px;
}

.joinText {
    font-family: 'engFont';
    font-size: 90pt;
    letter-spacing: 8px;
    margin-bottom: 20px;
    /* border: 1px solid sandybrown; */
}

input.must::placeholder {
    padding-left: 25px;
    background: url(/resources/img/hs_img/must.svg) no-repeat 1px 6px;
    background-size: 5pt;
}

.notice1.must {
    padding-left: 13px;
    background: url(/resources/img/hs_img/must.svg) no-repeat 1px 6px;
    background-size: 5pt;
}

.notice1 {
    display: inline-block;
    float: right;
    margin-top: -20px;
}

input {
    font-family: korFont;
}

.p1 input[type=text] {
    width: 96.3%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 12pt;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #A98B67;

}

.p1 input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #994D22;
    /* box-shadow: 0 0 0 .1rem rgba(190, 130, 0, 0.45); */
}

.notice2 {
    font-size: 16px;
    padding-bottom: 12px;
    font-weight: bold;
    color: #994D22;
    vertical-align: middle;
    display: none;

    margin-top: 10px;
    margin-bottom: 10px;

}

.notice2_f {
    font-size: 16px;
    padding-bottom: 12px;
    font-weight: bold;
    color: #994D22;
    vertical-align: middle;
    display: none;

    margin-top: 10px;
    margin-bottom: 10px;

}

.p2 input[type=password] {
    width: 286.1px;
    padding: 10px;
    font-size: 12pt;
    margin-bottom: 15px;

    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #A98B67;
}

.p2 input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid #994D22;
    /* box-shadow: 0 0 0 .1rem rgba(190, 130, 0, 0.45); */
}

.p4 input[type=text] {
    width: 400px;
    padding: 10px;
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #A98B67;
}

.p4 input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #994D22;
    /* box-shadow: 0 0 0 .1rem rgba(190, 130, 0, 0.45); */
}

.btn-add {
    width: 150px;
    height: 42px;
    background-color: transparent;
    font-size: 12pt;
    font-family: korFont;
    display: inline-block !important;
    margin-left: 26px;

}

.btn-joinfin {
    margin: auto;
    width: 97%;
    height: 60px;
    margin-top: 50px;
    font-size: 16pt;
    font-family: korFont;
}

/* 미디어쿼리 */
@media(max-width: 768px) {


    .joinText {
        font-family: 'engFont';
        font-size: 80pt;
        letter-spacing: 8px;
        margin-bottom: 20px;
        /* border: 1px solid sandybrown; */
    }
}

@media(max-width: 500px) {

    .header img {
        width: 100px;
    }

    .joinText {
        font-family: 'engFont';
        font-size: 60pt;
        letter-spacing: 8px;
        margin-bottom: 20px;
        /* border: 1px solid sandybrown; */
    }

    .wrapBody {
        width: 100%;
        margin-bottom: 124px;
    }

    .p2 input[type=password] {
        width: 232.1px;
        padding: 10px;
        font-size: 12pt;
        margin-bottom: 15px;

        display: inline-block;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid #A98B67;
    }

    .p4 input[type=text] {
        width: 352px;
        padding: 10px;
        font-size: 12pt;
        margin-top: 10px;
        margin-bottom: 15px;
        display: inline-block;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid #A98B67;
    }

    .btn-add {
        width: 100px;
        height: 42px;
        background-color: transparent;
        font-size: 12pt;
        font-family: korFont;
        display: inline-block !important;
        margin-left: 10px;

    }

}

